.container {
  height: 48px;
  width: 48px;
  background: linear-gradient(#e5f3cd, #d0f5e4);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  transform: translateX(225px);
}

.small {
  height: 36px;
  width: 36px;
}

.medium {
  height: 72px;
  width: 72px;
}
