.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.circle-container {
	/* background-color: black; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	/* border: 1px solid red; */
	border-radius: 100000px;
}

.circle {
	height: 85px;
	width: 85px;
	background: linear-gradient(#e5f3cd, #d0f5e4);
	border-radius: 50%;
	display: inline-block;
	position: absolute;
}

.first-animation {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
